<div id="games" class="col-xs-12">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Time</th>
        <th>Away Team</th>
        <th>Home Team</th>
      </tr>
    </thead>
      <tr>
        <td>
          1:00 pm
        </td>
        <td>
          <span class="fa-stack">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-check fa-stack-1x"></i>
          </span>
          NY Giants +4
        </td>
        <td>
          <span class="fa-stack">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-check fa-stack-1x"></i>
          </span>
          Miami Dolphins -4
        </td>
      </tr>
      <tr>
        <td>
          1:00 pm
        </td>
        <td>
          <span class="fa-stack">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-check fa-stack-1x"></i>
          </span>
          NY Giants +4
        </td>
        <td>
          <span class="fa-stack">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-check fa-stack-1x"></i>
          </span>
          Miami Dolphins -4
        </td>
      </tr>
    </table>
  </div>