<div id="games" class="col-xs-12">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Time</th>
        <th>Away Team</th>
        <th>Home Team</th>
      </tr>
    </thead>
      <tr>
        <td>
          1:00 pm
        </td>
        <td id="away-team-1" class="team-cell">
          <button type="button" class="btn btn-default btn-lg">
          <span class="fa-stack">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i id="away-team-1-chk" class="fa fa-check fa-stack-1x team-select"></i>
          </span>
          NY Giants +4
   </button>
        </td>
        <td id="home-team-1" class="team-cell">
          <button type="button" class="btn btn-default btn-lg">
          <span class="fa-stack">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i id="home-team-1-chk"class="fa fa-check fa-stack-1x team-select"></i>
          </span>
          Miami Dolphins -4
        </button>
        </td>
      </tr>
      <tr>
        <td>
          1:00 pm
        </td>
        <td id="away-team-2" class="team-cell">
          <span class="fa-stack">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i id="away-team-2-chk"class="fa fa-check fa-stack-1x team-select"></i>
          </span>
          NY Giants +4
        </td>
        <td id="home-team-2" class="team-cell">
          <span class="fa-stack">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i id="home-team-1-chk" class="fa fa-check fa-stack-1x team-select"></i>
          </span>
          Miami Dolphins -4
        </td>
      </tr>
    </table>
  </div>