<p>
  <span class="fa-stack">
    <i class="fa fa-square-o fa-stack-2x"></i>
    <i class="fa fa-check fa-stack-1x"></i>
  </span>
    NY Giants v Miami Dolphins
  <span class="fa-stack fa-lg">
    <i class="fa fa-square-o fa-stack-2x"></i>
    <!-- <i class="fa fa-check fa-stack-1x"></i> -->
  </span>
</p>
<p>NE Patriots v NY Jets</p>
<p>Indianapolis Colts v Baltimore Ravens</p>
<p>Seattle Seahawks v San Fransisco 49ers</p>
<p>NE Patriots v NY Jets</p>
<p>Indianapolis Colts v Baltimore Ravens</p>
<p>Seattle Seahawks v San Fransisco 49ers</p>
<p>NE Patriots v NY Jets</p>
<p>Indianapolis Colts v Baltimore Ravens</p>
<p>Seattle Seahawks v San Fransisco 49ers</p>
<p>NE Patriots v NY Jets</p>
<p>Indianapolis Colts v Baltimore Ravens</p>
<p>Seattle Seahawks v San Fransisco 49ers</p>
<p>NE Patriots v NY Jets</p>
<p>Indianapolis Colts v Baltimore Ravens</p>
<p>Seattle Seahawks v San Fransisco 49ers</p>
<!-- <h2>NYJ</h2>
<h3>Patriots</h3>
<h4>versus</h4>
<h5>v</h5> -->