<div class="container">
    <div class='col-sm-2'>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker3' tabindex='-1'>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                    <span class="caret"></span>
                </span>
                <input type='text' class="form-control" />
            </div>
        </div>
    </div>
    <select class="selectpicker" title="Away Team">
        <% @teams.each do |team| %>
        <option id='<%=team.abbrev%>-away'><%= "#{team.location} #{team.name}" %></option>
        <% end %>
    </select>
    <select class="selectpicker" title="Home Team">
        <% @teams.each do |team| %>
        <option id='<%=team.abbrev%>-home'><%= "#{team.location} #{team.name}" %></option>
        <% end %>
    </select>
</div>