<h2>Games</h2>

<div>
  <select class="date-of-week selectpicker" multiple data-selected-text-format="value" title="Choose game days">
    <option class="Tuesday">Tuesday</option>
    <option>Wednesday</option>
    <option>Thursday</option>
    <option>Friday</option>
    <option>Saturday</option>
    <option>Sunday</option>
    <option>Monday</option>
  </select>
</div>

<div id="game-input-container"></div>