/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';
@import "bootstrap-select";
@import "font-awesome-sprockets";
@import "font-awesome";

/*@media screen and (max-width: @screen-xs) {
    body{font-size: 10px;}
}

@media screen and (max-width: @screen-sm) {
    body{font-size: 14px;}
}*/

.carousel { z-index: -99; } /* keeps this behind all content */

.carousel .item {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.carousel .one {
    background: url(nyg-background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel .two {
    background: url(nyj-background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel .active.left {
    left:0;
    opacity:0;
    z-index:2;
}

.games-rules {
  color: red;
  font-weight: bold;
}

.main-header {
  color: red;
  font-family: 'Titillium Web', sans-serif;
  font-style: italic;
  font-size: 12vw;
}

.login-div {
  color: red;
  font-family: 'Titillium Web', sans-serif;
  font-style: italic;
  font-size: 18vw;
  text-align: center;

  a {
    text-decoration: none;
    color: red;
  }
}

#flash_msg_container {
  margin-left: 50px;
  margin-right: 50px;
}

.pools {
  margin: auto;
}

#rules-div {
  margin-left: 10px;
  margin-right: 10px;
}

#rules-text {
  display: none;
}

.team-cell button:hover {
  background: #3498db;
}

.team-select {
  display: none;
}

#games {
  margin: 0 auto !important;
  float: none !important;
}

#games table {
  // float: right;
}

#games td, th {
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  vertical-align: middle;
}

.signin-button {
  background-color: #2ecc71;
  border: none;
}

.signup-button {
  background-color: #3498db;
  border: none;
}

.create-player-button {
  background-color: #3498db;
  border: none;
}

.new-game-button {
  background-color: #3498db;
  border: none;
}

#brand-color {
  color: red;
}

.login-bar {
  font-size: 2vw;
}

.login-form{
  padding: auto;
}

.login-text {
  min-height: 20px;
  padding: auto 0;
}

// .login-buttons {
//   float: right;
// }

.label-font {
  color: black;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  color: black;
  font-family: 'Sanchez', serif;
  font-weight: lighter;
}

.logoContainer {
/*  width: 256px;
  height: 256px;*/


  img {
    width: 50%;
    height: auto;
  }
}


